.side-menu, .sm-header, .sm-body, .sm-items, .sm-tab, .sm-footer {
    position: relative !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    left: initial !important;
}

.side-menu, .sm-header, .sm-body, .sm-items, .sm-tab {
    height: initial !important;
}

.side-menu {
    z-index: 50 !important;
    display: block !important;
}

.side-menu .sm-tab {
    color: #404040 !important;
}

.sm-header {
    padding: 15px 20px !important;
    box-sizing: border-box !important;
}

#hamb, #iconMenu, .sm-subtab-title {
    display: none !important;
}

.main-form {
    left: 265px !important;
}
