span.bright {
    filter: brightness(1) !important;
}

.ansifg-c {
    color: #35707f !important;
}

.ansifg-bl {
    color: #37668a !important;
}

.ansifg-y {
    color: #b8b761 !important;
}

.ansifg-w {
    color: #888888 !important;
}

.ansifg-r {
    color: #af474f !important;
}

.backlog-tree.bolt-list {
    user-select: initial !important;
}

.backlog-tree.bolt-list td {
    user-select: none !important;
}

.backlog-tree.bolt-list td[data-column-index='2'] {
    user-select: initial !important;
}

.wit-card:focus-within .card-context-menu {
    visibility: hidden !important;
}

.taskboard-expanded-cell .taskboard-card {
    width: 160px;
}

:root {
    --header-left-width: 50%;
    --header-height: 125px;
}

.region-header, .region-header-menubar {
    border-top: 1px solid rgba(0, 0, 0, .08);
}

[aria-describedby="timesheet-list-editor-dialog-container"] {
    width: 900px !important;
}

[id*=remark] {
    width: 450px !important;
}

.times-list-editor-remark {
    width: 450px !important;
}

.comment-content span {
    /*background: none !important;*/
}

.work-item-form-control-content span {
    /*background: none !important;*/
}

.work-item-form-control-content pre {
    background: none !important;
}

/* wide */
@media only screen and (min-width: 1800px) {
    /* put important stuff on the right to read it from the center */
    .work-item-form-section.wide, .wit-discussion-group.wide {
        /*width: 55% !important;*/
    }

    .work-item-form-header > .secondary-text > .flex-row {
        width: 90%;
    }

    .work-item-form-page > .flex-row:first-child {
        padding-left: var(--header-left-width);
        padding-right: 0;
    }

    .work-item-form-subheader {
        position: absolute;
        left: 0;
        top: 0;
        width: var(--header-left-width);
        height: var(--header-height);
    }

    /* Description and comments on the right */
    .work-item-grid-ff-enabled.work-item-form-tab.first-column-wide {
        grid-template-columns: minmax(40%, 50%) 1fr !important;
    }

    .work-item-form-first-section {
        grid-column: 2 !important;
        min-width: 1000px;
    }

    .work-item-form-discussion {
        grid-column: 2 !important;
    }

    /* Rest on the left */
    .work-item-form-right.other-form-sections {
        grid-column: 1 !important;
        grid-template-columns: 40% 60% !important;
    }

    /* ...with columns in child */
    .work-item-form-right.other-form-sections .work-item-form-section:nth-child(1) {
        grid-column: 1 !important;
    }

    .work-item-form-right.other-form-sections .work-item-form-section:nth-child(2) {
        grid-column: 2 !important;
    }

    .work-item-form-expanded-section-container {
        border-top: 1px solid rgba(var(--palette-neutral-8));
    }

    .work-item-form-header {
        width: 90%;
        /* make it fixed */
        height: var(--header-height);
    }

    .work-item-form-header .work-item-header-command-bar {
        float: left;
    }

    /* put the hover menu below */
    .bolt-menu-portal .bolt-callout[id^=__bolt-menu] {
        margin-top: 50px;
        margin-left: -100px;
    }
    
    /* wiql editor */
    #__bolt-panel-1 .bolt-panel-callout-content {
        width: 50vw !important;
    }
}

/* wide and not thin */
@media only screen and (min-width: 1800px) and (min-height: 900px) {
    /* put menu on top */
    .full-size.region-page > .full-size.vertical-layout > .project-header + div {
        flex-direction: column !important;
    }

    .navigation-container {
        flex-direction: row !important;
    }

    .project-navigation {
        flex-direction: row !important;
        justify-content: center !important;
    }

    .navigation-section {
        flex-direction: row !important;
        flex-grow: unset !important;
    }

    /* Section */
    .navigation-section .hub-group.navigation-element .navigation-text {
        display: none !important;
    }

    /* Displayed section */
    .hub-group-container.expanded-container.displayed-container {
        display: flex !important;
        flex-direction: row !important;
    }

    /* Displayed section items container */
    .hub-group-container.expanded-container.displayed-container div[role=menu] {
        display: flex !important;
        flex-direction: row !important;
    }

    /* Item text in section */
    .navigation-section .hub.navigation-element .navigation-text {
        max-width: 17px !important;
        text-overflow: initial !important;
    }

    .full-size.region-page > .flex-column.full-size.vertical-layout {
        align-self: center !important;
        min-width: 1750px;
        max-width: 100vw;
        border-left: 1px solid rgba(0, 0, 0, .08);
        border-right: 1px solid rgba(0, 0, 0, .08);
    }

    /*.full-size.region-page > .flex-column.full-size.vertical-layout .project-header,*/
    /*.full-size.region-page > .flex-column.full-size.vertical-layout .navigation-container,*/
    /*.vss-Splitter--container {*/
    /*    align-self: center !important;*/
    /*    min-width: 1750px;*/
    /*    max-width: 100vw;*/
    /*    border-left: 1px solid rgba(0, 0, 0, .08);*/
    /*    border-right: 1px solid rgba(0, 0, 0, .08);*/
    /*}*/
    
    /*.full-size.region-page > .flex-column.full-size.vertical-layout .dashboard-content .view-mode-header {*/
    /*    align-self: center !important;*/
    /*    min-width: 1750px;*/
    /*    max-width: 100vw;*/
    /*    border-bottom: none;*/
    /*    border-right: 1px solid rgba(0, 0, 0, .08);*/
    /*    border-left: 1px solid rgba(0, 0, 0, .08);*/
    /*}*/
    
    /*.full-size.region-page > .flex-column.full-size.vertical-layout .dashboard-content .devops-dashboard-grid {*/
    /*    !*margin-right: -27px;*!*/
    /*    right: -8.8px;*/
    /*    padding: 0;*/
    /*    margin: 0;*/
    /*    align-self: center !important;*/
    /*    min-width: 1750px !important;*/
    /*    max-width: 100vw;*/
    /*    border-top: 1px solid rgba(0, 0, 0, .08);*/
    /*    border-left: 1px solid rgba(0, 0, 0, .08);*/
    /*    border-right: 1px solid rgba(0, 0, 0, .08);*/
    /*}*/
    
    .repos-pr-details-page, .repos-changes-explorer-splitter {
        width: 100vw;
    }
    
    .vss-Splitter--container.vss-Splitter--container-row .vss-Splitter--pane-flexible {
        width: unset !important;
    }
    
    .full-size .run-logs-view {
        width: 100vw !important;
    }
}

/* wide and thin */
@media only screen and (min-width: 1700px) and (max-height: 900px) {
    .run-details-page > .run-view-header,
    .custom-scrollbar > .run-view-header,
    .custom-scrollbar > .log-header,
    .custom-scrollbar > .repos-pr-header,
    .custom-scrollbar > .repos-pr-create-header,
    .custom-scrollbar > .bolt-header,
    .bolt-page > .bolt-header.wit-sprints-header-row {
        position: fixed;
        left: 655px;
        right: 416px;
        top: -22px;
        z-index: 1000 !important;
    }

    .bolt-page > .bolt-header.wit-sprints-header-row {
        position: fixed;
        left: 450px;
        right: 444px;
        top: -35px;
    }

    .bolt-page > .bolt-header.wit-sprints-header-row .bolt-header-title-area {
        margin-top: 20px;
    }

    .region-page .custom-scrollbar > .bolt-header {
        position: fixed;
        left: 625px;
        right: 425px;
    }

    .log-header {
        margin-top: 14px;
        right: 444px;
        top: -35px;
    }

    .log-header .bolt-header-title-area {
        margin-top: 14px;
    }

    .bolt-header-commandbar {
        margin-top: 7px;
    }

    .region-page .custom-scrollbar > .repos-pr-header, .region-page .custom-scrollbar > .repos-pr-create-header {
        right: 445px;
        left: 620px;
        top: -10px;
    }

    .repos-pr-header .pr-secondary-title-row, .repos-pr-create-header > .flex-column > .flex-row {
        margin-top: 22px;
    }

    .repos-commit-title-row {
        margin-bottom: 15px;
    }

    .project-header {
        height: 55px;
    }

    .bolt-messagebar.severity-info {
        position: absolute;
        top: 4px;
        z-index: 111;
        left: 337px;
    }

    .bolt-messagebar.severity-info .bolt-messagebar-content {
        padding: 6px;
    }

    /* full screen mode */
    .full-screen-mode .project-header {
        display: none;
    }
    .full-screen-mode .bolt-header-with-commandbar:not(.boards-tabs-header) {
        display: none;
    }
}
