.ansifg-c {
    color: #35707f;
}

.ansifg-bl {
    color: #37668a;
}

.wit-card:focus-within .card-context-menu {
    visibility: hidden !important;
}

.taskboard-expanded-cell .taskboard-card {
    width: 160px;
}

:root {
    --header-left-width: 50%;
    --header-height: 125px;
    --palette-neutral-8: gray;
}

/* wide */
@media only screen and (min-width: 1700px) {
    /* put important stuff on the right to read it from the center */
    
    .work-item-form-section.wide, .wit-discussion-group.wide {
        /*width: 55% !important;*/
    }
    .work-item-form-header > .secondary-text > .flex-row {
        width: 90%;
    }

    .work-item-form-page > .flex-row:first-child {
        padding-left: var(--header-left-width);
        padding-right: 0;
    }

    .work-item-form-subheader {
        position: absolute;
        left: 0;
        top: 0;
        width: var(--header-left-width);
        height: var(--header-height);
    }

    /* Description and comments on the right */
    .work-item-grid-ff-enabled.work-item-form-tab.first-column-wide {
        grid-template-columns: minmax(40%, 50%) 1fr !important;
    }
    .work-item-form-first-section {
        grid-column: 2 !important;
    }
    .work-item-form-discussion {
        grid-column: 2 !important;
    }
    /* Rest on the left */
    .work-item-form-right.other-form-sections {
        grid-column: 1 !important;
    }

    .work-item-form-expanded-section-container {
        border-top: 1px solid rgba(var(--palette-neutral-8));
    }

    .work-item-form-header {
        width: 90%;
        /* make it fixed */
        height: var(--header-height);
    }

    .work-item-form-header .work-item-header-command-bar {
        float: left;
    }
}

/* wide and not thin */
@media only screen and (min-width: 1700px) and (min-height: 900px) {
    /* put menu on top */
    .full-size.region-page > .full-size.vertical-layout > .project-header+div {
        flex-direction: column !important;
    }

    .navigation-container {
        flex-direction: row !important;
    }
    
    .project-navigation {
        flex-direction: row !important;
        justify-content: center !important;
    }
    
    .navigation-section {
        flex-direction: row !important;
        flex-grow: unset !important;
    }
    
    .hub-group-container.expanded-container.displayed-container {
        flex-direction: row !important;
    }
    
    /* not too wide */
    /*.navigation-container+.flex-column {*/
    /*    align-items: end !important;*/
    /*    justify-items: end !important;*/
    /*    background-color: rgba(var(--palette-neutral-2,248, 248, 248),1) !important;*/
    /*}*/
    
    /*#skip-to-main-content > div.flex-column {*/
    /*    margin-left: 0 !important;*/
    /*}*/
    
    /*#skip-to-main-content > div.flex-column.pipelines-page {*/
    /*    margin-left: 30% !important;*/
    /*}*/
}

/* wide and thin */
@media only screen and (min-width: 1700px) and (max-height: 900px) {
    .run-details-page > .run-view-header,
    .custom-scrollbar > .run-view-header,
    .custom-scrollbar > .log-header,
    .custom-scrollbar > .repos-pr-header,
    .custom-scrollbar > .repos-pr-create-header,
    .custom-scrollbar > .bolt-header,
    .bolt-page > .bolt-header.wit-sprints-header-row {
        position: fixed;
        left: 655px;
        right: 416px;
        top: -22px;
        z-index: 1000 !important;
    }
    .bolt-page > .bolt-header.wit-sprints-header-row {
        position: fixed;
        left: 450px;
        right: 444px;
        top: -35px;
    }
    .bolt-page > .bolt-header.wit-sprints-header-row .bolt-header-title-area {
        margin-top: 20px;
    }
    .region-page .custom-scrollbar > .bolt-header {
        position: fixed;
        left: 625px;
        right: 425px;
    }
    .log-header {
        margin-top: 14px;
        right: 444px;
        top: -35px;
    }
    .log-header .bolt-header-title-area {
        margin-top: 14px;
    }
    .bolt-header-commandbar {
        margin-top: 7px;
    }
    .region-page .custom-scrollbar > .repos-pr-header, .region-page .custom-scrollbar > .repos-pr-create-header {
        right: 445px;
        left: 620px;
        top: -10px;
    }
    .repos-pr-header .pr-secondary-title-row, .repos-pr-create-header > .flex-column > .flex-row {
        margin-top: 22px;
    }
    .repos-commit-title-row {
        margin-bottom: 15px;
    }
    .project-header {
        height: 55px;
    }
    .bolt-messagebar.severity-info {
        position: absolute;
        top: 4px;
        z-index: 111;
        left: 337px;
    }
    .bolt-messagebar.severity-info .bolt-messagebar-content {
        padding: 6px;
    }
}
