ytd-expander[should-use-number-of-lines][collapsed]>#content.ytd-expander {
    display: initial !important;
    overflow: initial !important;
    max-height: initial !important;
    -webkit-box-orient: initial !important;
    -webkit-line-clamp: initial !important;
}