body {
    margin: 0 0 0 calc((100vw - 1016px) / 2) !important;
}

#searchform {
    position: fixed !important;
    left: calc((100vw - 1016px) / 2) !important;
}

g-scrolling-carousel [role=tablist] {
    margin-left: 20px !important;
}